$dark: #000000;
$white: #FFFFFF;

$gray-light-primary: #f4f6ff;
$gray-light-secondary: #81879c;
$gray-light-tertiary: #e3e5ef;
$gray-light-quaternary: #fcfcfe;

$gray-dark-primary: #4c5264;

$green-light-primary: #2abb92;
$green-light-secondary: #92e5cd;

$sm: 425px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
