<h2>Detalhe</h2>

<button (click)="goBack()">Voltar</button>

<h3>
  {{ establishment.establishmentName }}
</h3>

<form #establishmentForm="ngForm" novalidate (ngSubmit)="onSubmit()">
  <label for="establishmentName" class="">Nome</label>
  <input
    type="text"
    placeholder="Insira seu Nome"
    name="establishmentName"
    [ngModel]="establishment.establishmentName"
    (ngModelChange)="establishment.establishmentName=$event"
  >

  <button
    type="submit"
    [disabled]="!establishmentForm.form.valid"
  >
    Salvar
  </button>

</form>
